{% extends 'base.html' %}

{% load static %}

{% block title %}Create PlayList{% endblock %}
{% block meta %}
    <link rel="stylesheet" href={% static 'css/create.css' %}/>{% endblock %}
{% block content %}

    <div class="container">
        <h1>Update '{{ playlist.title }}' PlayList</h1>
        <p>{{ playlist.title }} 를(을) 수정합니다!</p>
        <form method="post" action="" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">수정하기</button>
            <button type="button" onclick="history.back()">취소하기</button>
        </form>
    </div>

{% endblock %}