{% extends 'base.html' %}

{% load static %}

{% block title %}Character list{% endblock %}
{% block meta %}<link rel="stylesheet" href={% static 'css/mypage.css' %}/>{% endblock %}

{% block content %}

    <div class="container">
        <div class="container-title">
            <h1>플레이리스트</h1>
            <button type="button" class="button" onclick="location.href='{% url '플리:show_create' %}'">+</button>
        </div>
        <br>
        <div class="container-content">
            {% for playList in playlist_list %}
                <div class="container-playlist">
                    <img src="/static/{{ playList.image }}" class="playlist-img" onclick="location.href='{% url '플리:show_detail' pk=playList.id %}'"/><br>
                    <div class="container-info">
                        <h2>{{ playList.title }}</h2>

                        <div class="container-option">
                            <button type="button" onclick="location.href='{% url '플리:show_delete' pk=playList.id %}'">
                                <img src="/static/img/delete.svg" class="playlist-delete-edit-img"/>
                            </button>

                            <button type="button" onclick="location.href='{% url '플리:show_update' pk=playList.id %}'">
                                <img src="/static/img/edit.svg" class="playlist-delete-edit-img"/>
                            </button>
                        </div>
                    </div>

                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}