{% extends 'base.html' %}

{% load static %}

{% block title %}Write Youtube URL{% endblock %}
{% block meta %}<link rel="stylesheet" href={% static 'css/url.css' %}/>{% endblock %}

{% block content %}

    <div class="container">
        <h1>Youtube의 URL 작성</h1>
        <p>URL을 작성하여 동영상을 커스텀 마이징 할 수 있습니다!</p>
        <form method="get" action="/플리">
            <input type="text" name="url" placeholder="ex. http://youtube.com/..."/><br>
            <button type="submit">검색</button>
        </form>
    </div>

{% endblock %}