.container {
    text-align: center;
    margin-top: 4vmin;
}

.container-title {
    display: inline-flex;
}

.container-content {
    text-align: left;
    margin-top: 4vmin;
}

.container-detail {
    width: 100%;
    display: inline-flex;
    border: 1px solid black;
    border-radius: 10px;
    padding-top: 2vmin;
    padding-bottom: 2vmin;
    padding-left: 5vmin;
    margin-bottom: 4vmin;
}

iframe {
    width: 40vmin;
    height: 25vmin;
    margin-right: 2vmin;
}

h4 {
    margin-top: 1vmin;
}

.cancel, .plus, .delete {
    border: 0;
    background-color: transparent;
    font-size: var(--title-font-size);
    margin-top: -1.4vmin;
}

.cancel {
    color: gray;
    margin-right: 2vmin;
    font-size: 25px;
}

.delete {
    font-size: 20px;
    margin-top: 2vmin;
}

.plus {
    color: var(--primary);
    margin-left: 2vmin;
}