.container-login {
    text-align: center;
    margin-top: 10vmin;
}

form {
    margin-top: 8vmin;
    line-height: 95px;
}

input[type='text'], button[type='submit'] {
    width: 800px;
    height: 68px;
    border-radius: 10px;
}

input[type='text'] {
    padding: 30px;
    border: 1px solid var(--grey01);
}

button[type='submit'] {
    line-height: 0;
    border: 0;
    margin-top: 62px;
    background-color: var(--primary);
    color: white;
    font-size: var(--content-font-size);
}
